[color]
	ui = true
[user]
	name = John Nadeau
	email = johnnnadeau@gmail.com
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
	excludesfile = /home/john/.gitignore
